@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-image: #EDEDED;
}

.into-text {
  padding: 2rem 0;
}

h4 {
  padding: 1rem;
}

.into-text {
  padding: 2rem 0;
}

#homepage-greeting {
  display: flex;
  margin: 4rem;
}

#homepage-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#homepage-session-table {
  margin: 2rem 0
}

#mixing-board {
  border-radius: 5%;
}

.padding {
  padding: 4rem;
}

.sessionCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1%;
}

.sessionCards > * {
  display: flex;
  margin: 1%;
}
